<!DOCTYPE html>
<html lang="en">
<title>The Library!</title>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <ul>
        {% for item in nav.top %}
        <li class="{{ 'active' if item.is_active else '' }}">
            <a href="{{ item.url }}">{{ item.label }}</a>
        </li>
        {% endfor %}
    </ul>
        <h1>Welcome to the Library!</h1>
    <p>A simple application to showcase what's possible when Google Cloud and Datadog work together.</p>
</body>
</html>